@media (max-width: 400px) {
  .mainSection-container {
    flex-flow: column wrap !important;
  }

  h1 {
    font-size: 0.6em !important;
    letter-spacing: 0.9rem !important;
    margin-right: -0.9rem !important;
    font-weight: bold;
  }

  #image {

    background-position: center top !important;
  }
}

@media (max-width: 600px) {
  .mainSection-container {
    flex-flow: column !important;
    margin-left: 10%;
    margin-right: 10%;
  }

  h1 {
    font-size: 1.0em !important;
    letter-spacing: 0.4rem;
    margin-right: -0.4rem;
    font-weight: bold;
  }

}

@media (max-width: 800px) {

  .mainSection-container {
    flex-flow: column !important;
  }

  h1 {
    font-size: 1.0em !important;
    letter-spacing: 0.4rem;
    margin-right: -0.4rem;
    font-weight: bold;

  }

}

@media (max-width: 1000px) {

  @keyframes animationImage2 {
    0% {
      background-image: url("../img/CaleidoscopioWeb1.jpg");
    }

    25% {
      background-image: url("../img/CaleidoscopioWeb2.jpg");
    }

    50% {
      background-image: url("../img/CaleidoscopioWeb3.jpg");
    }

    100% {
      background-image: url("../img/CaleidoscopioWeb4.jpg");
    }
  }

  #image {
    width: 100% !important;
    height: 50vh !important;
    animation-name: animationImage2 !important;
    background-position: center top !important;
  }
}

html,
body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background-color: #fcfcfe;
  margin: 0;
}

h1 {
  font-size: 2em;
  letter-spacing: 1.2rem;
  margin-right: -1.2rem;
  color: rgba(14, 32, 78, 0.911);
  font-weight: bold;

}

h2 {
  font-size: 80%;
  letter-spacing: 0.5em;
  margin-right: -.0.5em;
  font-weight: 500;
}

h3 {
  font-size: 80%;
  letter-spacing: 0.14rem;

}

.flex-container {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;


}



.pageSections {
  padding: -1rem;

  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
}

.header-container {

  display: flex;
  flex-flow: column wrap;

}

.item-header {
  color: black;
  font-family: "Raleway", sans-serif;
  text-align: right;
}

.item-header:nth-child(1) {
  justify-content: center;
}

.mainSection-container {
  display: flex;
  flex-flow: row;
}

.item-mSection {

  color: black;
  font-size: 80%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 5%;
  text-align: justify;

}

.footer-container {

  display: flex;
  flex-flow: column;
  flex-grow: 3;
  width: 50vh;



}

.item-footer {

  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;


}

.subFooter-container {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


.item-subFooter {
  font-family: "Raleway", sans-serif;
}

a {
  color: #132432;
  text-decoration: none !important;
}

a:hover {
  color: #132432;
  text-decoration: none !important;
  cursor: pointer;
}

#image {
  width: 200%;
  height: 45vh;
  animation-name: animationImage;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@keyframes animationImage {
  0% {
    background-image: url("../img/extended.jpg");
  }

  25% {
    background-image: url("../img/extended.jpg");
  }

  50% {
    background-image: url("../img/extended.jpg");
  }

  100% {
    background-image: url("../img/extended.jpg");
  }
}