html,
body {
 min-height: 100vh;
 align-items: center;
 justify-content: center;
 display: flex;
overflow: hidden;
}
h1{
font-size: 2em;
letter-spacing:1.2rem;
margin-right: -1.2rem; 
color:rgba(14, 32, 78, 0.911);
font-weight: bold;



}
h2{
  font-size: 80%;
  letter-spacing:0.5em;
  margin-right: -.0.5em; 
  font-weight: 500;
}
h3{
  font-size: 80%;
  letter-spacing:0.14rem;
  
}

.flex-container {
  /* border: 1px solid black; */
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /*centers items on the line (the x-axis by default)*/
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
 
}
.pageSections {
  padding: 1.5rem;
/*   border: 1px solid; */
 /*  background-color: yellow; */
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
}
.header-container {
/*   border: 1px solid black; */
 /*  background: blue; */
  display: flex;
  flex-flow: column wrap;
  
}
.item-header {
  /* border: 1px solid; */
  /* background-color: red; */
  color: black;
  font-family: "Raleway", sans-serif;
  text-align: right;
}

.item-header:nth-child(1){
  justify-content: center;
}
.mainSection-container {
/*   border: 1px solid black; */
  /* background: purple; */
  padding: 20px;
  display: flex;
  flex-flow: row;
}

.item-mSection {
/*   border: 1px solid; */
 /*  background-color: brown; */
  color: black;
  font-size:  80%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 5%;
  text-align: justify;
 
}

.footer-container {
 /*  background: aquamarine; */
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column;
  flex-grow: 3;
  width: 50vh;
 

 
}

.item-footer {
 /*  background-color: beige; */
 /*  border: 1px solid; */
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;

  
}

.subFooter-container{
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between; /*centers items on the line (the x-axis by default)*/
  align-items: center;
 
  /* background-color: rgba(229, 15, 182, 0.986); */
 
}
/* .item-subFooter:nth-child(2){
  flex-grow: 2;
}
 */
.item-subFooter { 
  font-family: "Raleway", sans-serif;
}

a {
  color: #132432;
  text-decoration: none !important; 
}

a:hover {
  color:#132432; 
  text-decoration:none !important; 
  cursor:pointer;  
}