img {

	width: 25%;
	float: right;
    margin: 0.66%;
   
     margin-left: 5%;
}

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}
h1{
	font-family: Arial;
	margin-left: 1.66%;
	font-size: 10px;
	font-weight: 100;	
	width: 10%;
	
}
h2{
	font-family: Arial;
	margin-left: 1.66%;
	font-size: 10px;
	font-weight: 100;	
	width: 10%;
	
}